.header {
  padding-top: 0.5%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logo {
  padding-left: 1%
}

.menu-bar {
  display: flex;
  justify-content: center;
  padding-right: 1%;
  z-index: 100;

}

.menu-item {
  display: flex;

  font-size: 1.25rem;
  transition-duration: 0.2s;
  transition: transform 0.2s ease;
  position: relative;
}

.menu-link {
  text-decoration: none;
  color: #ffbf80;
  padding: 1rem;
}

.menu-item-open {
  display: flex;
  font-size: 1.25rem;
  transition-duration: 0.2s;
  transition: transform 0.2s ease;
  z-index: 10;
}

.menu-item-open:hover {
  z-index: 10;
  transform: translateY(1rem);
}

.sub-menu {
  list-style-type: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  display: none;
}

.menu-item-open:hover .sub-menu {
  display: block;
}

.sub-menu-link {
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #ffbf80;
  transition: transform 0.2s ease;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.1rem);
  white-space: nowrap;
}

.sub-menu-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transform: translate(0.8rem);
}





@media (max-width: 1024px) {

  .menu-bar {
    display: none;
  }

  .hamburger-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 5%;
  }

  .bar {
   
    width: 100%;
    height: 2px;
    background-color: #ffbf80;
    transition: transform 0.2s, opacity 0.2s;
  }

  .hamburger-menu.open .bar:first-child {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-menu.open .bar:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hamburger-menu.open .bar:nth-child(2) {
    opacity: 0;
  }
  .holo-image {
    width: 70%;
  }

  .angel-image {
    width: 80%;
  }

  .hovered-image {
    width: 80%;
  }

  .title-image {
    width: 95%;
  }

}