.header {
  padding-top: 0.5%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.logo {
  padding-left: 1%
}

.menu-bar-desktop {
  display: flex;


  z-index: 100;
  padding-left: 2em;

}

.menu-item {
  display: flex;

  font-size: 1.25rem;
  transition-duration: 0.2s;
  transition: transform 0.2s ease;
  position: relative;
}

.menu-link {
  text-decoration: none;
  color: #ffbf80;
  padding: 1rem;
}

.menu-item-open {
  display: flex;
  font-size: 1.25rem;
  transition-duration: 0.2s;
  transition: transform 0.2s ease;
  z-index: 10;
}

.menu-item-open:hover {
  z-index: 10;
  transform: translateY(1rem);
}

.sub-menu {
  list-style-type: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  display: none;
}

.menu-item-open:hover .sub-menu {
  display: block;
}

.sub-menu-link {
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #ffbf80;
  transition: transform 0.2s ease;
  background-color: rgba(0, 0, 0, 0.199);
  backdrop-filter: blur(0.1em);
  white-space: nowrap;
}

.sub-menu-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transform: translate(0.8rem);
}





@media (max-width: 1024px) {

  
  .hamburger-menu-icon {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 5%;
    /* Add transition properties for smooth animation */
    transition: transform 0.2s, opacity 0.2s;
  }
  

  .menu-bar{
   
    justify-content: center;
    padding-left: 2em;

  }

  .hamburger-menu.open{
    background-color: #470027;
    padding: 5%;
    position: absolute;
    left: 2px;
    top:10%;
    border: 2px solid #ffbf80;
  }

  
  .menu-item{
    transition: none;
    position: relative;
  }
  .menu-item-open {
    display: flex;
    font-size: 1.25rem;
    transition: none;
    
  }


  .menu-item-open:hover {
    z-index: 10;
    transform: none
  }
  
  .sub-menu {
    list-style-type: none;
    position: relative;
    left: 0%;
    top: 0%;
    transform:  none;

    display: flex;
    flex-direction: column;
  }
  
.sub-menu-link {
  background-color: rgba(0, 0, 0, 0);
}

  .bar {
    width: 100%;
    height: 2px;
    background-color: #ffbf80;
    /* Add transition properties for smooth animation */
    transition: transform 0.2s, opacity 0.2s;
  }
  
  .hamburger-menu-icon.open .bar:first-child {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger-menu-icon.open .bar:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .hamburger-menu-icon.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .holo-image {
    width: 70%;
  }

  .angel-image {
    width: 80%;
  }

  .hovered-image {
    width: 80%;
  }

  .title-image {
    width: 95%;
  }

}