@font-face {
  font-family: 'Delius';
  src: url('./assets/Delius-Regular.ttf') format('truetype');
}

* {
  -webkit-tap-highlight-color: transparent;
}


.viewport {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  height: 88vh;
  padding-left: 15%;
  padding-right: 15%;
  
}

.viewport::-webkit-scrollbar {
  background-color: transparent;
}

.viewport::-webkit-scrollbar-thumb {
  /*
  background-image: url('assets/scroll.png');
  background-size: 10vw;
*/
  background: transparent;
}

body {
  background-color: #a4005b;
  font-family: 'Delius';
  font-size: 1.25rem;
  color: #ff9324;
}

.App {
  display: flex;
  flex-direction: column;
}


.top-line,
.bottom-line {
  position: fixed;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #ff9324;

}

.left-line,
.right-line {
  position: fixed;
  top: 0;
  width: 0.2rem;
  height: 100%;
  background-color: #ff9324;

}

.top-line {
  top: 0.5rem;
}

.bottom-line {
  bottom: 0.5rem;
}

.left-line {
  left: 0.5rem;
}

.right-line {
  right: 0.5rem;
}

.Faq {
  color: #ff9324;
  justify-content: center;
  display: flex;
}

.Team {
  display: flex;
  align-items: center;
  flex-direction: column;
}
