@font-face {
  font-family: 'Delius';
  src: url('assets/Delius-Regular.ttf') format('truetype');
}


body {
  background-color: #a4005b;
  font-family: 'Delius';
  font-size: 1.25rem;
}

.App {
  display: flex;
  flex-direction: column;

}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 5vw;
}


.menu-bar {
  display: flex;
  justify-content: center;
  padding: 1vw;
  gap:10vw;
  position: relative;
 
}

.menu-item {
  display: flex;
  font-size: 1.25rem;
 

  transition-duration: 0.2s;
  transition: transform 0.2s ease;
  

}

.menu-link {
  text-decoration: none;

  color: #ff9324;

  padding: 1vw;

}

/*
.menu-link:hover{
  text-decoration: underline;
}
*/
.menu-item-open{
  display: flex;
  font-size: 1.25rem;
  transition-duration: 0.2s;
  transition: transform 0.2s ease;
  z-index: 10;
}
.menu-item-open:hover {
  z-index: 10;
  transform: translateY(1vw);
 
}

.sub-menu {
  list-style-type: none;
  position: absolute;
  left: -1.6vw;
  top: 2vw
}

.sub-menu-link {
  padding: 0.6vw;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #ff9324;

  /*
  
  */
  transition: transform 0.2s ease;
  /*
  */
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.25rem);
  
  box-shadow: 0px 0px 0px 0.05rem #ff9324;
  
  /*
 background-color: rgba(0, 0, 0, 0.2);
  */




}


.sub-menu-link:hover {
  /*
  background-color: #f0f0f0;
  */
  /*
 
  */
  background-color: rgba(0, 0, 0, 0.2);
  transform: translate(1vw);
}



.about {
  display: flex;
  flex-direction: column;

  padding-left: 5vw;
  padding-right: 5vw;
}



.card {
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  align-items: center;

}

.card img {
  width: 16vw;
  height: 20vw;

}

.card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  height: 40vw;
  padding-left: 15vw;
  padding-right: 15vw;
}


.card-container::-webkit-scrollbar {
  background-color: transparent;
}

.card-container::-webkit-scrollbar-thumb {
  /*
  background-image: url('assets/scroll.png');
  background-size: 10vw;
*/
  background: transparent;
}


.text-box {
  color: #ff9324;
  padding-left: 5vw;
  padding-right: 5vw;
  line-height: 2;
}


.media-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2vw;
  padding-top: 2vw;
  padding-left: 6vw;
  padding-right: 6vw;
  justify-content: center;
}

.media-item {
  flex: 0 0 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-item img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  margin: 0 auto;
}

.lightbox-image {
  width: 100%;
  height: auto;
  max-height: calc(100% - 40px);

}

.previous-button,
.next-button {
  bottom: 25vw;
  position: fixed;
  padding: 2vw 4vw;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-size: cover;
  background-position: center;
}

.previous-button {
  left: 25vw;

  background-image: url("assets/arrow2.png");

}

.next-button {
  right: 25vw;

  background-image: url("assets/arrow1.png");
}


.top-line,
.bottom-line {
  position: fixed;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff9324;

}

.left-line,
.right-line {
  position: fixed;
  top: 0;
  width: 0.15%;
  height: 100%;
  background-color: #ff9324;

}

.top-line {
  top: 0.5vw;
}

.bottom-line {
  bottom: 0.5vw;
}

.left-line {
  left: 0.5vw;
}

.right-line {
  right: 0.5vw;
}

.Faq {
  color: #ff9324;
  justify-content: center;
  display: flex;
}

.Team{
  display: flex;
  align-items: center;
  flex-direction: column;
}